{
    "env": {
        "es6": true,
        "jest": true,
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "rules": {
      "strict": 0,
      "semi": 2,
      "no-undef": 2,
      "no-unused-vars": 1
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018
    },
    "extends": "eslint:recommended"
}
